.yui-main-container {
  color: #333;
  font-size: 0.24rem;
  padding: 0.24rem;
}
.yui-main-container .title {
  font-size: 0.36rem;
  margin-top: 0.24rem;
}
.yui-main-container > em {
  display: inline-block;
  padding: 0.24rem 0;
}
.fold{
  margin-bottom: .12rem;
}
